*.o
*.orig
*.rej
*.sw!
*.un~
/Makefile
/autom4te.cache
/config.*
/configure
/help/html2tf
/help/tf-help
/tf-lib/tf-help.idx
/src/Makefile
/src/TF_LIBDIR.build
/src/default
/src/makehelp
/src/tf
/src/tfconfig.h
/src/tfdefs.h
/unix/vars.mak
